*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

:root{
    --primary:#111827;
    --accent:#10b981;
    --text:#4b5563;
    --light:#f3f4f6;
    --white:#FFFFFF;
    --font-main:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
}

body{
    font-family:var(--font-main);
    color:var(--text);
    line-height:1.6;
    background: var(--white);
}

.navbar{
    align-items: center;
    padding: 20px 5%;
    background-color:var(--primary);
}

.logo{
    font-size: 28px;
    font-weight:bold;
    color:var(--white);
}

.nav-link{
    list-style:none;
    gap:30px;
}

.nav-link a{
    text-decoration: none;
    color:var(--white);
    font-weight:500;
    font-size: 1rem;
}

.nav-link a:hover{
    color:var(--accent);
}

#hero{
    background: var(--light);
    color: var(--text);
    padding: 10px;
}

.hero-section h1{
    font-size:45px;
    margin-bottom:20px;
}

#about{
    background-color: var(--white);
    padding: 20px;
}

#about h2,p{
    font-family: var(--font-main);
    line-height: 1.6;
    color: var(--text);
}